.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-text-1 {
  margin: 20px 272px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 0 0 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 72px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-text-1 {
  margin-bottom: 0;
  font-size: 3.75rem;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: 80px 0 60px;
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 500px;
}

.u-section-3 .u-text-1 {
  margin-bottom: 0;
  font-size: 3.75rem;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  margin: 46px 0 60px;
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 500px;
}

.u-section-4 .u-text-1 {
  margin-bottom: 0;
  font-size: 3.75rem;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  margin: 46px 0 60px;
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 500px;
}

.u-section-5 .u-text-1 {
  margin-bottom: 0;
  font-size: 3.75rem;
}

.u-section-5 .u-text-2 {
  font-size: 1.5rem;
  margin: 46px 0 60px;
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 500px;
}

.u-section-6 .u-text-1 {
  margin-bottom: 0;
  font-size: 3.75rem;
}

.u-section-6 .u-text-2 {
  font-size: 1.5rem;
  margin: 46px 0 60px;
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 524px;
}

.u-section-7 .u-text-1 {
  margin-bottom: 0;
  font-size: 3.75rem;
}

.u-section-7 .u-text-2 {
  font-size: 1.5rem;
  margin: 9px 0 60px;
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 500px;
}

.u-section-8 .u-text-1 {
  font-size: 3.75rem;
  margin: 20px 356px 0 0;
}

.u-section-8 .u-text-2 {
  font-size: 1.5rem;
  margin: 46px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    margin-right: 156px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 500px;
}

.u-section-9 .u-text-1 {
  font-size: 3.75rem;
  margin: 20px 75px 0 0;
}

.u-section-9 .u-text-2 {
  font-size: 1.5rem;
  margin: 46px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 643px;
}

.u-section-10 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 32px 0 0;
}

.u-section-10 .u-video-1 {
  width: 624px;
  height: 418px;
  margin: 14px auto 0;
}

.u-section-10 .embed-responsive-1 {
  position: absolute;
}

.u-section-10 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 30px 0 60px;
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 587px;
  }

  .u-section-10 .u-video-1 {
    width: 540px;
    height: 362px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 453px;
  }

  .u-section-10 .u-video-1 {
    width: 340px;
    height: 228px;
  }
}